.wp-block-columns{
  padding:20px 40px;
}
.templaza-sidebar-no-content{
  &.templaza-content-column{
    display:block;
    width:100% !important;
  }
  &.templaza-column-sidebar{
    display:none;
  }
}
.templaza-logo{
  img{
    min-width:175px;
  }
}

@media (min-width: 1200px) {
  #templaza-sticky-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.templaza-header-sticky {
  border-bottom: none;
  box-shadow: none;
}
.uk-container > #templaza-sticky-header {
  > .container {
    max-width: none;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.uk-container > #templaza-sticky-header {
  > .container {
    @media (min-width: 640px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (min-width: 960px) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
