body .templaza-header{
  .navbar-nav .menu-item{
    >.sub-menu{
      @include box-shadow(none);
      min-width:250px;
      padding:0;
      li.menu-item{
        >a{
          padding:11px 15px;
          font-size:0.8rem;
        }
      }
    }
  }
}
.templaza-mobilemenu {
  font-size: 0.875rem;
}