.wp-block-search {
	.wp-block-search__label {
		font-size: $tz-basic-form-font-size;
		font-weight: $tz-basic-form-label-weight;
		margin-bottom: 10px;
	}

	&.wp-block-search__button-inside .wp-block-search__inside-wrapper,
	.wp-block-search__input {
		border: $tz-basic-input-border;
		border-radius: $tz-basic-input-border-radius;
		font-family: inherit;
		line-height: $tz-basic-input-line-height;
		max-width: inherit;
		padding: $tz-basic-input-padding;
		margin-right:5px;
		margin-top: 0;
		font-weight: $tz-basic-form-input-weight;

		.has-background & {
			border-color: transparent;
		}
	}

	.wp-block-search__button.wp-block-search__button {
		@include tz-basic-button-style();
		box-shadow: none;
		margin-left: 0;
		padding:$tz-basic-input-button-padding;
		&.has-icon {
			padding: 0 10px;
			display: inherit;

			svg {
				width: 35px;
				height: 35px;
			}
		}

		&:hover,
		&:active {
			color: $tz-basic-button-color-hover;
			.has-background & {
				background-color: $tz-basic-button-bg-hover !important;
				color: $tz-basic-button-color-hover !important;
			}

			.has-text-color & {
				color: $tz-basic-button-color-hover !important;
			}
		}

		// Remove :focus styles in the editor
		&:focus {
			outline-offset: inherit;
			outline: inherit;
		}
	}

	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			padding:$tz-basic-input-inside-padding;
			.wp-block-search__input {

			}
		}

		.wp-block-search__input {
			border: none;
		}

		&.wp-block-search__text-button,
		&.wp-block-search__icon-button {

			.wp-block-search__button {
				border-radius: $tz-basic-input-border-radius;
				// Search button always needs black contrast against white form background
				&:hover {
					color: $tz-basic-button-color-hover;
				}

			}
		}

		&.wp-block-search__text-button .wp-block-search__button {
			// Match the text button size with the icon button.
			padding: $tz-basic-input-button-padding;
		}
	}
	&.aligncenter{
		> *{
			text-align: center;
		}
		.wp-block-search__button-only {

			.wp-block-search__inside-wrapper {
				justify-content: center;
			}
		}
	}
}

.wp-block[data-align="center"] > * {
	text-align: center;
}

.wp-block[data-align="center"] {

	.wp-block-search__button-only {

		.wp-block-search__inside-wrapper {
			justify-content: center;
		}
	}
}
