/* Center image block by default in the editor */

.wp-block-image > div {
	text-align: center;
}

[data-type="core/image"] .block-editor-block-list__block-edit figure.is-resized {
	margin: 0 auto;
}

.wp-block-image {
	text-align: center;
	figcaption {
		font-size: $tz-basic-figcaption-size;
		line-height: $tz-basic-body-line-height;
		margin-top: $tz-basic-figcaption-margin-top;
		margin-bottom: $tz-basic-figcaption-margin-bottom;
		text-align: center;
	}

	.alignright {
		margin-left: $tz-basic-spacing-horizontal;
	}

	.alignleft {
		margin-right: $tz-basic-spacing-horizontal;
	}

	a:focus img {

	}
}
// Remove vertical margins from image block wrappers when floated
.wp-block-image, .wp-block-gallery, {
	&.alignleft, &.alignright {
		// Remove top margins from the following element when previous image block is floated
		& + * {
			margin-top: 0;
		}
	}

}