figcaption, .wp-caption, .wp-caption-text, .wp-block-embed figcaption{
	text-align: center;
	font-size:$tz-basic-figcaption-size;
	margin-top:$tz-basic-figcaption-margin-top;
	margin-bottom:$tz-basic-figcaption-margin-bottom;
}