ul,
ol {
	margin: $tz-basic-spacing-vertical 0;
	padding-left: calc(2 * #{$tz-basic-spacing-horizontal});

	// Utility classes
	&.aligncenter {
		list-style-position: inside;
		padding: 0;
		text-align: center;
	}

	&.alignright {
		list-style-position: inside;
		padding: 0;
		text-align: right;
	}
	li{
		margin:$tz-basic-list-margin;
	}
	&.is-style-checkbox{
		li{
			&:before{
				top:50%;
				transform: translateY(-50%);
			}
		}
	}
}

li {

	> ul,
	> ol {
		margin: 0;
	}
}