@media screen and (max-width: 992px) {
  .templaza-mobile-btn{
    display:block;
    cursor: pointer;
    .close{
      display:none;
    }
    &.active{
      .open{
        display:none;
      }
      .close{
        display:block;
      }
    }
  }
  .templaza-basic-navbar{
    &.active{
      ul{
        &.uk-navbar-nav{
          display:block;
        }
      }
    }
    ul{
      &.uk-navbar-nav{
        display:none;
        position: absolute;
        left:auto;
        right:0;
        top:20px;
        width:60%;
        background:#fff;
        box-shadow: 0 1px 5px rgba(0,0,0,0.2) ;
        padding:20px;
        z-index: 10;
        overflow: scroll;
      }
      li{
        width:100%;
        margin: 0;
        &.menu-item-has-children {
          > a {
            &::after {
              content: "";
              width: 1.5em;
              height: 1.5em;
              float: right;
              background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%2210%201%204%207%2010%2013%22%20%2F%3E%0A%3C%2Fsvg%3E");
              background-repeat: no-repeat;
              background-position: 50% 50%;
            }
            &[aria-expanded=true]::after {
              background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%20%2F%3E%0A%3C%2Fsvg%3E");
            }
          }
        }
        a{
          min-height: 40px;
          justify-content: space-between;
        }
        .uk-navbar-dropdown{
          width: 100%;
          //display: block !important;
          position: relative;
          box-shadow: none;
          margin-top:0;
          padding-top: 10px;
          padding-bottom: 10px;
          background:none;
          padding-left: 30px;
          padding-right: 1rem;
          opacity: 1 !important;
          li{
            a{
              min-height:30px;
              color:$tz-basic-menu-color;
              font-size: 1em;
              padding:0;
              &:hover{
                background:none;
                color:$tz-basic-menu-color-hover;
              }
            }
          }
          .uk-navbar-dropdown{
            //display: block !important;
            position: relative;
            left:0 !important;
            top:0 !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .templaza-basic-navbar ul.uk-navbar-nav{
    position:fixed;
    top:120px;
    left:10px;
    right:10px;
    width:auto;
  }
}
@media screen and (max-width: 550px) {
  .entry-title, .post-title {
    .sticky {
      left:5px;
      margin-top:-25px;
      font-size:12px;
      padding:1px 12px;

    }
  }
}