.templaza-single{
  .templaza-blog-share-icon{
    a{
      background:#f8f9fa;
      padding:0.5rem 1rem;
      color:$tztheme-quote-color;
      @include transition($tztheme-transition-all);
      font-weight:600;
      font-size:0.8em;
      @include border-radius(3px);
      &:not(:last-child){
        margin-right:5px;
        margin-bottom: 5px;
        float:left;
        line-height: 1em;
      }
      &:hover{
        color:$tztheme-button_text_color_hover;
        @include transition($tztheme-transition-all);
        background:$tztheme-button_background_hover;
      }
    }
  }
  .templaza-blog-item-share{
    span.label{
      display:none;
    }
  }
  .templaza-single-preview-post,
  .templaza-single-next-post
  {
    a{
      color:$tztheme-postmeta;
      &:hover{
        color:$tztheme-global-color;
      }
    }
  }
  .templaza-single-author{
    .templaza-block-author-avata{
      img{
        @include border-radius(50%);
      }
    }
    .templaza-block-author-desc{
      p{
        font-size:0.9em;
      }
      .templaza-block-author-social{
        a{
          color:$tztheme-postmeta;
          font-size:0.7em;
          &:not(:last-child){
            margin-right:10px;
          }
          &:hover{
            color:$tztheme-global-color;
          }
        }
      }
    }
  }
  iframe{
    width:100%;
  }
}
h1.templaza-blog-item-title {
  font-weight: 600;
}